---
import ContainerSticky from "@components/container-sticky.astro";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";

import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import aidxnLogo from 'assets/tsd/tsd-logo.webp'; 


const menuitems = [
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Services",
    path: "/services",
    children: [
      { title: "Social media strategy", path: "/services" },
      { title: "Content creation", path: "/services" },
      { title: "Copywriting", path: "/services" },
      { title: "Profile optimisation", path: "/services" },
      { title: "Community Engagement", path: "/services" },
      { title: "Hashtag Strategy", path: "/services" },
      { title: "Theme & Layout", path: "/services" },
    ],
  },
  {
    title: "Products",
    path: "/products",
  },
  {
    title: "Portfolio",
    path: "/portfolio",
  },
];
---

<style>
  #navLogo {height: 105px; margin: 10px 0px;} 
  @media only screen and (max-width: 1199px) {
    #navLogo {
      height: 95px;
    }
  }
  @media only screen and (max-width: 768px) {
    #navLogo {
      height: 65px;
    }
  }
  header { background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(30px); border: 2px solid rgba(255, 255, 255, 0.1); box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); }
  .dashboard-button {display: none;}
</style>

<ContainerSticky>
  <header class="flex flex-col lg:flex-row justify-between items-center mb-4 px-4 md:px-8">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="">
          <Picture
            src={aidxnLogo}
            sizes="(max-width: 1200px) 100vw, 800px"
            widths={[800, 1200]}
            alt="The Social Dandelion - Thrive organically on instagram with zero ad spend strategies."
            aspectRatio="9:16"
            background="#f2f2f2"
            fit="cover"
            position="center"
            id="navLogo"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-6 h-6 pr-2 text-black" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-4">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-slate-800 hover:text-black"
                    >
                      <h2>
                        {item.title}
                      </h2>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>

        <div class="lg:hidden flex items-center my-3 gap-4">
          <Link href="/contact" size="md" block>Contact</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="/contact" size="md">Contact</Link>
      </div>
    </div>
  </header>
</ContainerSticky>


