---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import VelocityEcomm from '../assets/products-sqr/velocity-ecommerce.webp';
import VelocityLrg from '../assets/products-sqr/web-design-render.webp';
import VelocitySml from '../assets/products-sqr/velocity-web-design.webp';
import BrandPack from '../assets/products-sqr/brand-refresh.webp';
import CPCmarketing from '../assets/products-sqr/google-search-ad-management.webp';
import MetaAds from '../assets/products-sqr/fb-marketing-design.webp';
import MetaAdManagement from '../assets/products-sqr/fb-marketing-management.webp';
import AnimatedAds from '../assets/products-sqr/animated-ad-design.webp';
import DisplayMarketing from '../assets/products-sqr/google-display-ad-management.webp';
import PrintAds from '../assets/products-sqr/billboard-ad-design.webp';
import BusAds from '../assets/products-sqr/bus-ad-management.webp';
import CompleteBrandPack from '../assets/products-sqr/complete-brand-packages.webp';
import BillboardAds from '../assets/products-sqr/sml-billboard-design.webp';


const services = [
  {
    title: "Organic Social Media Management",
    category: "Social Media Management",
    description:
      "Our Organic Social Media Management service offers a comprehensive approach to growing your brand's presence on social media platforms organically. With a focus on strategic planning and content creation, we help your business thrive without relying on paid advertising.",
    imgsrc: VelocityEcomm,
    inclusions: [
      "Customized Social Media Strategy",
      "Content Creation and Scheduling",
      "Community Engagement",
      "Audience Insights and Analytics",
      "Performance Tracking",
      "Monthly Reporting",
    ],
    imgalt: "Organic Social Media Management service for businesses",
    style: "outline",
    btntxt: "Learn More",
    price: "175",
    saleprice: "",
    paytype: "ongoing",
    buylink: "/services/organic-social-media-management",
  },
  {
    title: "Social Media Revamp Package",
    category: "Social Media Design",
    description:
      "Our Social Media Revamp Package is designed to give your social media profiles a fresh and eye-catching look. We provide a complete redesign of your social media grids and posts, including customized fonts and licensing. Additionally, we offer one month of social media management to apply the new design and ensure a seamless transition.",
    imgsrc: VelocityLrg,
    inclusions: [
      "Complete Social Media Redesign",
      "Customized Fonts and Licensing",
      "One Month of Social Media Management",
      "Content Deployment",
      "Audience Engagement",
      "Performance Tracking",
    ],
    imgalt: "Social Media Revamp Package for businesses",
    style: "outline",
    btntxt: "Learn More",
    price: "350",
    saleprice: "",
    paytype: "once-off",
    buylink: "/services/social-media-revamp-package",
  },
  {
    title: "Engagement Package",
    category: "Social Media Marketing",
    description:
      "Our Engagement Package is designed to increase your social media reach and foster meaningful conversations with your audience. With a wide range of repeatable designs tailored to your target audience, we help your brand stand out and initiate engaging interactions. Discover the power of authentic engagement with our specialized package.",
    imgsrc: VelocitySml,
    inclusions: [
      "Target Audience-focused Design",
      "Engagement-oriented Content Creation",
      "Community Management",
      "Hashtag Strategy",
      "Audience Insights and Analytics",
      "Performance Tracking",
    ],
    imgalt: "Engagement Package for businesses",
    style: "outline",
    btntxt: "Learn More",
    price: "450",
    saleprice: "",
    paytype: "ongoing",
    buylink: "/services/engagement-package",
  },
];

---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script async src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin: 40px 20px;
    padding: 20px 40px;
  }

  /* Start Flickity viewport safeguards V3 */
  main { max-width: 100%; }
  .flickity-viewport { min-height: fit-content ; }
  .blog-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; min-height: 80vh; }
  /* End Flickity viewport safeguards V3 */
  .services-carousel { margin: 20px auto; }


  /* Glass-card effect dial in, minimal */
  #glass-card {
    border-radius: 30px;
    margin: 20px 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  </style>

<main class="my-8 md:my-16">
<div class="mb-8">
  <h2 class="text-md md:text-xl lg:text-2xl xl:text-4xl font-bold lg:tracking-tight">
    Grow with us.
  </h2>
  <p class="text-sm lg:text-lg max-w-6xl mt-4 text-slate-600">
    Our products and services are made to be easy going. Helping create massive results for your business without much of your time or money.
  </p>
</div>

<div id="sliderContainer" class="services-carousel h-fit pb-4">
  {
    services.map((item) => (
      <div id="glass-card" class="carousel-cell flex flex-col lg:flex-row justify-center md:items-center h-fit w-full md:w-2/3">
          <div id="imgContainer" class="w-1/2 md:3/4 lg:w-2/5">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 1200px) 1200px, 900px, 600px"
                  widths={[600, 900, 1200]}
                  aspectRatio="9:16"
                  loading="eager"
                  background="#f2f2f200"
                  fit="cover"
                  position="center"
                  class="w-full rounded"
                />
          </div>
          <div class="my-4 w-full xl:w-3/5 px-4">
            <span class="text-gray-400 mr-3 uppercase text-xs">{item.category}</span>
            <h3 class="font-semibold text-xl md:text-2xl">{item.title}</h3>{" "}
            <p class="text-xs lg:text-md max-w-3xl text-slate-700 mt-2 mb-4 pr-4 lg:pr-8 leading-relaxed">{item.description}</p>
            <div class="hidden md:block">
              <h4 class="text-xs font-semibold">Includes:</h4>
              <ul class="mb-8 grid grid-cols-2 gap-x-4 gap-y-2">
                {item.inclusions.map((inclusion) => (
                  <li class="text-xs text-slate-700 mb-1">{inclusion}</li>
                ))}
              </ul>
            </div>
            <div class="flex items-center mb-8">
              <p class="text-lg lg:text-xl font-normal text-black cursor-auto my-3"><i>Starting from</i> ${item.price}</p>
              
              <div class="ml-auto">
                <Link 
                  onClick="onClick()"
                  class=""
                  href={item.buylink || "#"}
                  block
                  style={item.style ? "primary" : "outline"}>
                  {item.btntxt || "Get Started"}
                </Link>
              </div>
            </div>
          </div>
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.services-carousel', {
  cellAlign: 'center',
  contain: true,
  imagesLoaded: true,  
  adaptiveHeight: true,
  });
</script>